# dependencies
/node_modules

# Next.js build output
/.next/
/out/

# local environment files and secrets
.env
.env.*
!.env.local.example

# TypeScript build cache
*.tsbuildinfo

# platform and editor files
.DS_Store
*.pem
.vercel
.netlify

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
